!!!
%html
  %head
    %title CodiphiWeb
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.7.custom.css'
    = javascript_include_tag 'vendor/jquery-1.4.4.min.js',
                             'vendor/jquery-ui-1.8.7.custom.min.js',
                             'tree.js'
    = csrf_meta_tag
  %body
    = yield
