%link{"rel" => "stylesheet", "href" => "/stylesheets/list-master.css", "type" => "text/css"}
%link{"rel" => "stylesheet", "href" => "/stylesheets/scouts/scout_squad.css", "type" => "text/css"}

:javascript
  $(document).ready(function(){
    $(".hide-button").click(function(){
      $(this).parent().parent().children(".sequence").toggle( "blind", {}, 500 );
      return false;
    });
  });

.list
  .header
    .name #{@list['name']}
    .schematic Schematic: #{@list['schematic']}
  - if @errors
    .list-errors
      - @errors.each do |error|
        .list-error
          = error
  - haml_from_list(@list)
  .footer
    .total-label
      Total (#{@list['cost_measure']})
    .cost
      #{@list['cost']}
